* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  a {
    text-decoration: none;
    color: #d9d9d9;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0c6527;
    padding: 1rem;
    display: flex;
    text-align: right;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar-menu {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    width: 500px;
  }
  
  .navbar-item {
    margin-left: 1rem;
  }
  
  .navbar-link {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .navbar-link:hover {
    color: #000000;
  }
  
  .active {
    text-decoration: underline;
    text-underline-position: under;
    font-weight: bold;
    color: #dbba00;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .navbar-menu {
      margin-top: 0rem;
      font-size: 12px;
      width: 330px;
    }
  
    .navbar-item {
      margin-left: 0;
      margin-top: 0.5rem;
    }
  }

/* Contenu page accueil */

.home-content {
    background: url("../public/images/back.png") rgba(0, 0, 0, 0.381);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4px;
    margin-bottom: 40px;
    height: 100vh;
    background-blend-mode: darken
  }



  .home-content .gauche{
    position: absolute;
    display: block;
    left: 10vw;
    top: 6vw;
  }

  .home-content .gauche .gc{
    width: 40%;
    margin-top: 3VW;
  }
  .home-content .gauche .gc img{
    width: 8VW;
  }
  .home-content .droite{
    position: absolute;
    display: block;
    right: 8vw;
    top: 8vw;
  }

  .home-content .droite img{
    width: 35vw;
  }
  
  .ico-search {
    width: 28px !important;
    margin-left: 10px;
  }

  
  @media screen and (max-width: 650px) {
    .home-content {
      
      height: 45vh;
      margin-top: 6vw;
    }

    .home-content .gauche{
      top: 12vw;
    }
  
    .home-content .gauche .gc{
      width: 40%;
      margin-top: 3VW;
    }
    .home-content .gauche .gc img{
      width: 8VW;
    }
    .home-content .droite{
      top: 14vw;
    }
  }

  @keyframes slideIn {
    from {
      left: -200px;
      opacity: 0%;
    }
    to {
      left: 0px;
      opacity: 100%;
    }
  }
  
  .header {
    width: auto;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .header main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    animation: slideIn 1.5s ease-in-out forwards;
  }
  .header p {
    font-size: 20px;
    text-align: center;
    padding: 20px;
    width: 85%;
  }
  .header main h1{
    color: #121212;
    text-align: center;
    background-color: rgb(255 255 255 / 76%);
    padding: 10px;
  }
  .header main span{
    color: #16b245;
  }
  .btn-header {
    cursor: pointer;
    border: none;
    background-color: rgb(252 219 22 / 74%);
    color: #121212;
    margin-top: 13vw;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    width: 250px;
    line-height: 1.5;
    box-shadow: 0px 2px 5px 0px #3a3a3a;
    font-family: Roboto;
    transition: 0.3s;
  }
  .btn-header:hover {
    background-color: #121212;
    color: #16b245;
  }
  .latest-content , .direction{
    padding-left:80px ;
    padding-right: 80px;
  }
  .latest-content,.direction h2{
    text-align: center;
  }
  .news-content{
   
    grid-gap: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
  }
  .cadre-new{
    width: 340px;
    height: 550px;
    color: #101010;
  }
  .cadre-new p{
    color: #101010;
  }
  .cadre-new-img{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
  }
  .photo-new{
    width: 100%;
    height: 100%;
  }
  .contenu-direction{
    grid-gap: 10px;
      text-align: center;
      display: flex;
      justify-content: center;
      height: auto;
      flex-wrap: wrap;
  }
  .cadre-direction{
    width: 220px;
    height: 400px;
    display: flex;
    flex-direction: column;
  }
  .img-direction{
    width: 100%;
    height: 300px;
    background-color: #121212;
  }
  .img-direction img{
    width: 100%;
    height: 100%;
  }
  .info-direction{
    width: 100%;
    padding: 10px;
    height: 100px; 
    text-align: center;
  }
  @media screen and (max-width: 575px) {
    .header p {
      font-size: 15px;
      padding: 10px;
    }
    .btn-header {
      font-size: 16px;
      padding: 10px;
      width: 200px;
    }
  }
  

/* start */
#start{
    width: 100%;
    padding: 5vw 8vw;
    height: 45vw;
    background: url(/images/back.jpg) rgba(0, 0, 0, 0.521);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#start h2{
    font-size: 5vw;
    text-transform: capitalize;
    color: white;margin: 2vw 0;
}
#start p{
    font-size: 1.2vw;
    color: white;
    text-align: center;
}


/* footer */
footer {
    margin-top: 80px;
    background-color: #0c6527;
    color: #d9d9d9;
    padding: 40px 80px 40px 80px;
  }
  .d-flex {
    display: flex;
  }
  .col-4 {
    width: 30%;
  }
  .col-5 {
    width: 50%;
  }
  .res-sociaux {
    margin-top: 10px;
  }
  .res-sociaux img {
    width: 20px;
    margin-left: 15px;
  }
  li a:hover {
    text-decoration: underline;
    text-underline-position: under;
  }
  .siege-social li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .siege-social li img {
    margin-right: 20px;
  }
  .ico {
    width: 25px;
  }
  .btn-email {
    background-color: transparent;
    border: none;
    color: #d9d9d9;
  }
  .btn-email:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  @media screen and (max-width: 675px) {
    footer {
      font-size: 12px;
      padding: 20px 25px 20px 25px;
    }
    .col-5 {
      width: 70%;
    }
    .col-4 {
      width: 30%;
    }
  }


/* vehicule */
#vehicule{
    width: 100%;
    padding: 8vw 8vw 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#vehicule .dev-web{
    width: 100%;
    box-shadow: 0 0 .1vw gray;
    padding: 2vw 2.5vw;
}
#vehicule .dev-web .container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}
#vehicule .dev-web .container .box-content{
    width: calc(80%/3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 .1vw gray;
    border-radius: 1vw;
    margin: 0 calc(20%/6) 2.5vw;
    transition: .2s;
}


#vehicule .dev-web .container .box-content:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}
#vehicule .dev-web .container .box-content img{
    width:80%;
    height: 15vw;
    border-radius: 1vw 1vw 0 0 ;
}
#vehicule .dev-web .container .box-content h4{
    font-size: 1.4vw;
    margin: 1vw;
    text-transform: capitalize;
}
#vehicule .dev-web .container .box-content a{
    font-size: 1.2vw;
    margin-bottom: 1vw;
    background: #2ecc71;
    color: white;
    border: none;
    padding: .5vw 1vw;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5vw;
    box-shadow: 0 0 .1vw black;
    text-decoration: none;
    width: 19vw;
    text-align: center;
}
#vehicule .dev-web .container .box-content a:hover{
    background: #27ae60;
}
    /* search */
#vehicule form{
    width: 100%;
    margin-bottom: 1vw;
    display: flex;
    justify-content: space-between;
}
#vehicule .search-fomation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#vehicule .search-fomation h6{
    color: gray;
    font-size: 1.4vw;
    font-style: italic;
    margin-bottom: 1vw;
}
#vehicule form input{
    width: 85%;
    padding: 1vw;
    border: none;
    border-radius: .5vw;
    box-shadow: 0 0 .1vw gray;
    font-size: 1.2vw;
}
#vehicule form input:focus{
    outline-color: rgb(0, 165, 83);
}
#vehicule form button{
    width: 14%;
    padding: 1vw;
    border: none;
    border-radius: .5vw;
    box-shadow: 0 0 .1vw rgb(0, 165, 83);
    background: white; 
    font-size: 1.2vw;
    font-family: calibri;
    transition: .2s;
}
#vehicule form button:hover{
    background: rgb(0, 165, 83);
    color: white;
}

/* apropos */
#apropos{
    width: 100%;
    padding: 8vw 8vw 3vw;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
#apropos .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
#apropos .link{
    display: flex;
    justify-content: space-between;
}
#apropos .link a{
    display: flex;
    justify-content: space-between;
    margin-right: 2vw;
    text-transform: capitalize;
    color: black;
    font-size: 1.4vw;
    font-style: italic;
    text-decoration: none;
}
#apropos .container img{
    width: 40%;
    object-fit: cover;
}
#apropos .container .box-content{
    width: 45%;
    border-radius: 1vw;
}
#apropos .container .box-content h3{
    font-size: 1.4vw;
}
#apropos .container .box-content p{
    font-size: 1.2vw;
}
#apropos .container .box-content p::first-letter{
    font-size: 1.8vw;
}
#apropos .container .box-content a{
    background: rgb(0, 165, 83);
    color: white;padding: .5vw 1vw;
    text-decoration: none;
    font-size: 1.2vw;
    border-radius: .5vw;
    display: inline-block;
    margin-top: 1vw;
    transition: .2s;
}
#apropos .container .box-content a:hover{
    background: none;color: rgb(0, 165, 83);
    border: solid .1vw rgb(0, 165, 83);
}

/* contact */
#contact{padding: 8vw;}
#contact .container{display: flex;justify-content: space-between;}
#contact .container img{width: 45%;border-radius: 1vw;}
#contact .container form{width: 45%;display: flex;justify-content: start;align-items: center;flex-direction: column;box-shadow: 0 0 .1vw gray;padding: 2vw;border-radius: .5vw;}
#contact .container form .input{display: flex;width: 100%;justify-content: space-between;}
#contact .container form input,textarea,select{width: 100%;padding: 1vw;border: none;border-radius: .5vw;box-shadow: 0 0 .1vw gray;margin-bottom: 1vw;font-size: 1.2vw;}
#contact .container form .input input{width: 49%;}
input:focus,textarea:focus,select:focus{outline-color: rgb(0, 165, 83);}
#contact .container form button{background: rgb(0, 165, 83);color: white;padding: .5vw 1vw;text-decoration: none;font-size: 1.2vw;border-radius: .5vw;border:none;transition: .2s;}
#contact .container form button:hover{background: none;color: rgb(0, 165, 83);border: solid .1vw rgb(0, 165, 83);}
#contact .container ul{list-style: none;box-shadow: 0 0 .1vw gray;padding: 2vw;border-radius: .5vw;}
#contact .container form:hover{background: rgba(220, 220, 220, 0.096);}
#contact .container ul:hover{background: rgba(220, 220, 220, 0.096);}
#contact .container ul li{margin-bottom: 2vw;}
#contact .container li a{color: gray;text-decoration: none;font-size: 1.2vw;display: flex;justify-content: start;align-items: center;transition: .2s;font-style: italic;}
#contact .container li a svg{width: 2vw;margin-right: 1vw;background: rgb(0, 165, 83);border-radius: 50%;padding: .5vw;fill: white;transition: .2s;}
#contact .container li a:hover svg{width: 2vw;margin-right: 1vw;background: none;border-radius: 50%;padding: .5vw;fill: rgb(0, 165, 83);border: solid .1vw rgb(0, 165, 83);transform: scale(1.2);}
#contact .container li a:hover{text-decoration: underline solid;}

#notfound{width: 100%;height: 100vh;display: flex;justify-content: center;align-items: center;flex-direction: column;text-transform: capitalize;}
#notfound h2{font-size: 8vw;}
#notfound a{font-size: 1.2vw;color: rgb(0, 165, 83);}

/* Detail */
#vehicule-info{ width: 100%;padding: 8vw;}
#vehicule-info .container{align-items: start;box-shadow: 0 0 .2vw gray; padding: 2vw;border-radius: .5vw;}
#vehicule-info .container img{width: 45%;border-radius: 1vw;}
#vehicule-info .container .box{width: 45%;}
#vehicule-info .container .box h2{font-size: 1.4vw;font-style: italic;margin-bottom: 1vw;color: rgb(0, 165, 83);text-transform: capitalize;}
#vehicule-info .container .box p{font-size: 1.2vw;}

#vehicule-info .btn-action{display: flex;justify-content: end;box-shadow: 0 0 .2vw gray; padding: 1vw 2vw;border-radius: .5vw;margin-top: .5vw;}
#vehicule-info button{border: none;padding: .5vw 1vw;border-radius: .5vw;color: white;font-size: 1.2vw;font-weight: bold;transition: .1s;margin: 0 1vw;}
#vehicule-info button:hover{transform: scale(1.1);}
#vehicule-info button:nth-child(1){background: blue;}
#vehicule-info button:nth-child(2){background: red;}

.detailAuto{
    list-style: none;
}



.specsDetails {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}
.image-container {
  flex: 1;
  padding: 1vw;
}
.image-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.specs-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  max-height: 80vh;
}
h1 {
  color: #333;
}
.spec-group {
  margin-bottom: 20px;
}
.spec-group h2 {
  color: #0066cc;
  border-bottom: 2px solid #0066cc;
  padding-bottom: 5px;
}
.spec-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.spec-label {
  font-weight: bold;
  color: #555;
}
.spec-value {
  color: #333;
}
#price {
  font-size: 24px;
  font-weight: bold;
  color: #009900;
  margin-top: 20px;
}


.specsDetails {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}


@media screen and (max-width: 650px) {
  .specsDetails {
    display: block;
    overflow: auto;
  }

  .specsDetails {
    overflow: auto;
  }

  .specs-container {
    flex: 1;
    padding: 20px;
    max-height: auto;
  }
}


/* Paginate */
.paginate{width: 100%;display: flex;justify-content: end;align-items: center;}
.paginate h6{font-size: 1.2vw;}
.paginate button{padding: .3vw 1vw;font-size: 1.2vw;background: none;border: none;margin: 0 1vw;border-radius: .5vw;font-weight: bold;box-shadow: 0 0 .1vw gray;}
.page-active{background: gray !important;color: white;}


.active{text-decoration :solid underline rgb(0, 165, 83);color: rgb(0, 165, 83);}
.active-texte{text-decoration: solid underline rgb(0, 165, 83) !important;color: rgb(0, 165, 83) !important;font-weight: bold;}


